/* Write your CSS here */

.userContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 350px;
  width: 400px;
  border-radius: 12px;
  background-image: linear-gradient(#2b2c49, #b5b9ff);
}

.Bg-Container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
